<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.MyApplication"
            tools:ignore="AllowBackup">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Profile.ProfileActivityEdit"
            android:exported="true"
            android:parentActivityName=".Profile.ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Profile.ProfileActivity" />
        </activity>
        <activity
            android:name=".Profile.ProfileActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".Profile.BookletActivity"
            android:exported="true"
            android:parentActivityName=".Profile.ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Profile.ProfileActivity" />
        </activity>

        <activity
            android:name=".Profile.BookletEditActivity"
            android:exported="true"
            android:parentActivityName=".Profile.BookletActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Profile.BookletActivity" />
        </activity>

        <activity
            android:name=".Profile.BookletAddRowActivity"
            android:exported="true"
            android:parentActivityName=".Profile.BookletEditActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Profile.BookletEditActivity" />
        </activity>

        <activity
            android:name=".Alarms.AlarmActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".Alarms.AlarmEditActivity"
            android:exported="true"
            android:parentActivityName=".Alarms.AlarmActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Alarms.AlarmActivity" />
        </activity>

        <activity
            android:name=".Alarms.AlarmAddRowActivity"
            android:exported="true"
            android:parentActivityName=".Alarms.AlarmEditActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Alarms.AlarmEditActivity" />
        </activity>

        <activity
            android:name=".Medication.MedicationActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".Medication.MedicationEditActivity"
            android:exported="true"
            android:parentActivityName=".Medication.MedicationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Medication.MedicationActivity" />
        </activity>

        <activity
            android:name=".Medication.MedicationAddRowActivity"
            android:exported="true"
            android:parentActivityName=".Medication.MedicationEditActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Medication.MedicationEditActivity" />
        </activity>
    </application>

</manifest>